.filters {
  margin-bottom: 20px;
}

.filters h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.filters select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}
