
header {
  margin-bottom: 1rem; 
 
}


.navbar2 {
  background-color: #5E1F3F; /* For the secondary, lighter navbar */
  color: #e9b0cc;
}
.navbar-nav .nav-item {
  margin: 0 5px; 
}

.navbar-brand {
  padding: 0.5rem 0; 
  display: flex;
  justify-content: center;
  align-items: center;

 
}

.dropdown-menu {
  position: absolute; 
  top: 100%;
  left: 0;
  z-index: 1000; 
}

.brand-logo
{
  margin-right:2px;
}

.form-control {
  width: 200px; 
}

.btn-outline-success {
  padding: 0.2rem 0.5rem; 
}
.btn-outline:focus
{
  border-color: #803654;
}
.bi-search
{
  color: white;
  width: 20px;
  height: 20px;
}
