/* Navbar.css */

/* Custom styling for the navbars */
header {
  margin-bottom: 1rem; /* Adds space between the two navbars */
}

.navbar-nav .nav-item {
  margin: 0 5px; /* Reduces space between nav items */
}

.navbar-brand {
  padding: 0.5rem 0; /* Reduces vertical padding */
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-logo
{
  margin-right:2px;
}

.form-control {
  width: 200px; /* Set a width for the search input */
}

.btn-outline-success {
  padding: 0.2rem 0.5rem; /* Reduces button padding */
}
