.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h3 {
  font-size: 18px;
  margin-top: 10px;
}

.product-card p {
  color: #333;
  font-size: 16px;
}

.details-btn {
  background-color: #f0c14b;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}

.details-btn:hover {
  background-color: #e6ae1d;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
